#
#BOF
# ---------------------------------------------------
# ignore MacOS/Windows "folder" files recursively
# ---------------------------------------------------
**/.DS_Store
**/.Desktop.ini
# ---------------------------------------------------
# local setup / configuration file
# ---------------------------------------------------
**/localSetup.cfg
**/auth.json
**/*.auto.tfvars
# ---------------------------------------------------
# Hashicorp Terraform
# ---------------------------------------------------
**/.terraform/*
# State files
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
# Crash log files
**/terraform/crash.log
# Ignore override files as they are used to override 
# resources locally and so are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# ---------------------------------------------------
# Hashicorp Vagrant
# ---------------------------------------------------
**/.vagrant/*
# ---------------------------------------------------
# RedHat Ansible 
# ---------------------------------------------------
**/inventory.ini
#EOF