apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: {{ appKubeCreateName }}
  name: {{ appKubeCreateName }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{ appKubeCreateName }}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ appKubeCreateName }}
    spec:
      containers:
      - image: {{ appKubeCreateImage }}
        name: {{ appKubeCreateName }}
        ports:
        - containerPort: {{ appKubeCreateContainerPort }}
          protocol: TCP
        resources: {}